html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  max-height: 1000000px; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  color: #000;
  background: #f4f6f8;
  font: 16px/1.5 'Open Sans', Arial, Helvetica, sans-serif;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

video, iframe, object, embed {
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0;
  text-decoration: underline; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em; }

h1 {
  font: 100 65px/70px 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

h2 {
  font: 100 52px/60px 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: top;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  font-size: 100%;
  vertical-align: middle; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="image"] {
  padding: 0;
  border: none; }

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], textarea {
  -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

input::-webkit-input-placeholder {
  color: #212121;
  opacity: 1; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input::-moz-placeholder {
  color: #212121;
  opacity: 1; }

input:focus::-moz-placeholder {
  color: transparent; }

input:-ms-input-placeholder {
  color: #212121; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

::-ms-clear {
  display: none; }

@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('../fonts/TeXGyreAdventor-Regular.eot');
  src: url('../fonts/TeXGyreAdventor-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TeXGyreAdventor-Regular.svg') format('svg'), url('../fonts/TeXGyreAdventor-Regular.woff') format('woff'), url('../fonts/TeXGyreAdventor-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('../fonts/TeXGyreAdventor-Bold.eot');
  src: url('../fonts/TeXGyreAdventor-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TeXGyreAdventor-Bold.svg') format('svg'), url('../fonts/TeXGyreAdventor-Bold.woff') format('woff'), url('../fonts/TeXGyreAdventor-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('../fonts/TeXGyreAdventor-Italic.eot');
  src: url('../fonts/TeXGyreAdventor-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/TeXGyreAdventor-Italic.svg') format('svg'), url('../fonts/TeXGyreAdventor-Italic.woff') format('woff'), url('../fonts/TeXGyreAdventor-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('../fonts/TeXGyreAdventor-BoldItalic.eot');
  src: url('../fonts/TeXGyreAdventor-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/TeXGyreAdventor-BoldItalic.svg') format('svg'), url('../fonts/TeXGyreAdventor-BoldItalic.woff') format('woff'), url('../fonts/TeXGyreAdventor-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
#wrapper {
  position: relative;
  overflow: hidden; }

.wrap {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 10px; }
  .wrap:after {
    content: "";
    clear: both;
    display: block; }

.logo {
  float: left;
  margin: 6px 0 -64px -18px; }

.inner #header {
  padding: 17px 0;
  position: relative;
  background: #200524;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzNjMGM0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVhMWQ1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzQ5MTI0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to right, #200524 0%, #3c0c41 25%, #5a1d5f 50%, #49124e 83%, #200524 100%); }
.inner .logo {
  margin: 16px 0 -64px -8px; }
.inner .peronal-box {
  padding: 0 24px 0 0; }
  .inner .peronal-box .arrow {
    right: 1px; }

#header {
  padding: 28px 0 17px;
  position: absolute;
  width: 100%;
  z-index: 10; }
  #header:after {
    content: "";
    clear: both;
    display: block; }
  #header a {
    color: #fff; }
  #header .list {
    list-style: none;
    margin: 0;
    padding: 12px 0 0;
    float: left;
    font-size: 18px;
    font-weight: bold; }
    #header .list li {
      margin: 0 20px;
      float: left; }

#nav {
  float: right;
  color: #fff; }
  #nav ul {
    float: left;
    padding: 15px 23px 0 0; }
    #nav ul li {
      float: left;
      padding: 0 15px 0 14px; }

.peronal-box {
  float: right;
  position: relative;
  font-weight: bold;
  padding: 0 34px 0 0; }
  .peronal-box .arrow {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 11px;
    width: 7px;
    height: 7px;
    margin: -6px 0 0;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    cursor: pointer; }
  .peronal-box .thumbnail, .peronal-box .name {
    display: inline-block;
    vertical-align: middle; }
  .peronal-box .name {
    padding: 3px 14px 0 0;
    font-size: 18px; }
  .peronal-box .thumbnail {
    border-radius: 50px;
    border: 3px solid #fff; }
    .peronal-box .thumbnail img {
      height: auto;
      width: 44px; }

.visual {
  position: relative;
  height: 787px;
  overflow: hidden; }
  .visual > .img-holder {
    text-align: center; }
    .visual > .img-holder img {
      height: auto;
      width: 100%;
      max-width: 10000px; }
  .visual h1 {
    color: #fff;
    margin: 0 0 73px;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 0 55px rgba(0, 0, 0, 0.1), 0 0 65px rgba(0, 0, 0, 0.5), 0 0 95px rgba(0, 0, 0, 0.5); }
  .visual .btn {
    display: inline-block;
    vertical-align: top;
    padding: 11px 10px 14px;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    font: 100 20px/22px 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 193px;
    transition: all 0.4s ease; }
    .visual .btn:hover {
      background: #fff;
      color: #000;
      text-decoration: none; }

.table-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.table-wrap {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed; }

.table-cell {
  display: table-cell;
  padding: 163px 0 0;
  text-align: center; }

.box-holder {
  overflow: hidden;
  text-align: center; }
  .box-holder .box {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 301px;
    font-size: 16px;
    line-height: 20px;
    border-top: 12px solid #000;
    padding: 20px;
    margin: 0 20px 20px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmVmZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom, #ffffff 80%, #f2eff2 100%);
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3); }
    .box-holder .box:before, .box-holder .box:after {
      content: "";
      position: absolute;
      z-index: -2; }
    .box-holder .box.ted {
      border-top: 12px solid #414141; }
      .box-holder .box.ted .box-bg:after {
        background: url(../images/tedseattle-bg.png) no-repeat 0 -12px; }
      .box-holder .box.ted img {
        margin: 20px 0 0; }
    .box-holder .box.palme {
      border-top: 12px solid #b5985a; }
      .box-holder .box.palme .box-bg:after {
        background: url(../images/palme-bg.png) no-repeat 0 -12px; }
    .box-holder .box.dribbble {
      border-top: 12px solid #e94c89; }
      .box-holder .box.dribbble .box-bg:after {
        background: url(../images/dribbble-bg.png) no-repeat 0 0; }
      .box-holder .box.dribbble img {
        margin: 0 8px 0 0; }
    .box-holder .box.behance {
      border-top: 12px solid #005cff; }
      .box-holder .box.behance .box-bg:after {
        background: url(../images/behance-bg.png) no-repeat 0 0; }
      .box-holder .box.behance img {
        margin: 42px 0 0 11px; }
    .box-holder .box.meetup {
      border-top: 12px solid #e33011; }
      .box-holder .box.meetup .box-bg:after {
        background: url(../images/meetup-bg.png) no-repeat 0 -12px; }
      .box-holder .box.meetup img {
        margin: 14px 10px 0 0; }
    .box-holder .box .box-bg:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4; }
    .box-holder .box .holder {
      position: absolute;
      bottom: 24px;
      left: 0;
      right: 0;
      z-index: 5; }
  .box-holder .date {
    font: 300 30px/35px 'Roboto', Arial, Helvetica, sans-serif;
    color: #666666;
    display: block;
    margin: 0 0 7px; }
  .box-holder .caption {
    color: #000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif; }
  .box-holder .img-holder {
    white-space: nowrap;
    height: 171px; }
    .box-holder .img-holder:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
  .box-holder img {
    display: inline-block;
    vertical-align: middle;
    white-space: normal; }

.archive {
  padding: 55px 0;
  position: relative;
  min-height: 698px; }
  .archive:after {
    content: "";
    background: url(../images/pool-bg.png) no-repeat;
    width: 111px;
    height: 158px;
    left: 0;
    position: absolute;
    bottom: 50px; }
  .archive h2 {
    text-align: center;
    color: #414141;
    margin: 0 0 51px; }

#main:after {
  content: "";
  clear: both;
  display: block; }

.top-section {
  padding: 57px 5000px 0;
  margin: 0 -5000px 38px;
  background: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15); }
  .top-section:after {
    content: "";
    clear: both;
    display: block; }
  .top-section .img-holder {
    float: right;
    position: relative;
    margin: -58px -75px 0 0; }
    .top-section .img-holder .arrow-box {
      position: absolute;
      top: 117px;
      left: -91px;
      text-align: right;
      color: #542958;
      font: italic 14px/17px 'Open Sans', Arial, Helvetica, sans-serif; }
      .top-section .img-holder .arrow-box:after {
        content: "";
        position: absolute;
        top: 25px;
        left: 28px;
        width: 68px;
        height: 60px;
        background: url(../images/arrow.png) no-repeat; }
  .top-section .holder {
    overflow: hidden; }
  .top-section h2 {
    font-size: 48px;
    margin: 0 0 6px; }
  .top-section .heading {
    position: relative;
    padding: 0 0 35px;
    margin: 0 0 32px;
    border-bottom: 1px solid #d9dce2; }
    .top-section .heading .data {
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px 0 0; }
    .top-section .heading .status {
      color: #7cd300; }
  .top-section .text-holder {
    max-width: 550px;
    line-height: 28px;
    color: #666666;
    overflow: hidden;
    margin: 0 0 10px; }
    .top-section .text-holder p {
      margin: 0 0 20px; }
  .top-section .block-holder {
    overflow: hidden;
    max-width: 630px; }
    .top-section .block-holder .block {
      float: left;
      width: 50%; }
    .top-section .block-holder .thumbnail {
      float: left;
      border: 1px solid #6d5c6e;
      border-radius: 2px;
      width: 65px;
      height: 65px;
      overflow: hidden;
      margin: 0 23px 0 0;
      background: #6e6e6e; }
    .top-section .block-holder .holder {
      padding: 5px 0 0;
      color: #666666; }
    .top-section .block-holder span {
      display: block;
      margin: 0 0 6px; }
    .top-section .block-holder a {
      color: #dfdfdf;
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 14px; }
    .top-section .block-holder .icon-pencil {
      width: 17px;
      height: 16px;
      margin: 0 9px 0 0;
      display: inline-block;
      vertical-align: middle;
      background: url(../images/sprite-icons.png) no-repeat 0 -260px; }

#sidebar {
  float: left;
  width: 180px;
  padding: 69px 30px 0 0;
  position: relative; }
  #sidebar ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font: bold 14px/16px 'Open Sans', Arial, Helvetica, sans-serif; }
    #sidebar ul li:first-child a {
      border: 1px solid #e5e7eb; }
    #sidebar ul li.active a {
      background: #452947;
      color: #fff;
      border-color: #452947; }
      #sidebar ul li.active a .icon.icon-info {
        background-position: -57px 0; }
      #sidebar ul li.active a .icon.icon-event {
        background-position: -57px -52px; }
      #sidebar ul li.active a .icon.icon-categories {
        background-position: -57px -104px; }
      #sidebar ul li.active a .icon.icon-heatmap {
        background-position: -57px -156px; }
      #sidebar ul li.active a .icon.icon-analytics {
        background-position: -57px -208px; }
    #sidebar ul a {
      display: block;
      width: 150px;
      height: 150px;
      padding: 20px;
      color: #cbcbcb;
      border: 1px solid #e5e7eb;
      border-top: none;
      white-space: nowrap; }
      #sidebar ul a:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%; }
      #sidebar ul a:hover {
        text-decoration: none;
        color: #fff;
        color: #452947; }
      #sidebar ul a .frame {
        white-space: normal;
        display: inline-block;
        vertical-align: middle; }
    #sidebar ul span {
      display: block; }
    #sidebar ul .icon-box {
      width: 51px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      margin: 10px 0 20px; }
    #sidebar ul .icon {
      display: block;
      width: 51px;
      height: 50px; }
      #sidebar ul .icon.icon-info {
        background: url(../images/sprite-icons.png) no-repeat -2px 0; }
      #sidebar ul .icon.icon-event {
        background: url(../images/sprite-icons.png) no-repeat -3px -52px; }
      #sidebar ul .icon.icon-categories {
        background: url(../images/sprite-icons.png) no-repeat -2px -104px; }
      #sidebar ul .icon.icon-heatmap {
        background: url(../images/sprite-icons.png) no-repeat -2px -156px; }
      #sidebar ul .icon.icon-analytics {
        background: url(../images/sprite-icons.png) no-repeat -2px -208px; }

.component {
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3); }
  .component .heading {
    padding: 30px 30px;
    border-bottom: 1px solid #e5e7eb;
    overflow: hidden;
    position: relative; }
  .component h3 {
    padding: 0 150px 0 0;
    margin: 0;
    font-size: 16px;
    line-height: 33px;
    color: #542958;
    text-transform: uppercase; }
  .component .holder {
    padding: 30px 30px; }

.cat-component .btn {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px 11px 7px;
  min-width: 127px;
  text-align: center;
  background: #68316d;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #68316d;
  transition: all 0.4s ease; }
  .cat-component .btn:hover {
    text-decoration: none;
    background: #fff;
    color: #68316d; }
.cat-component .holder {
  padding: 30px 30px 10px; }
.cat-component .list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold; }
  .cat-component .list li {
    float: left;
    margin: 0 20px 20px 0; }
    .cat-component .list li .color {
      color: #fff;
      padding: 10px 85px 11px 22px;
      border-radius: 3px;
      position: relative;
      overflow: hidden; }
      .cat-component .list li .color.color1 {
        background: #e41211; }
      .cat-component .list li .color.color2 {
        background: #0396db; }
      .cat-component .list li .color.color3 {
        background: #03db87; }
      .cat-component .list li .color.color4 {
        background: #ff9600; }
  .cat-component .list .pencil {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 16px;
    right: 39px;
    background: url(../images/sprite-icons.png) no-repeat -19px -260px; }
  .cat-component .list .close {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 14px;
    right: 15px; }
    .cat-component .list .close:before, .cat-component .list .close:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2px;
      background: #fff;
      margin: 0 0 0 -1px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .cat-component .list .close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  .cat-component .list .input-holder {
    position: relative; }
    .cat-component .list .input-holder input[type='text'] {
      border: 1px solid #e1e3e7;
      font-style: italic;
      font-size: 14px;
      color: #999999;
      background: #f9fafb;
      border-radius: 3px;
      height: 45px;
      padding: 5px 15px;
      line-height: 33px;
      min-width: 287px; }
    .cat-component .list .input-holder .plus {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 14px;
      height: 14px; }
      .cat-component .list .input-holder .plus:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -1px;
        width: 2px;
        background: #afa6b1; }
      .cat-component .list .input-holder .plus:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -1px 0 0;
        height: 2px;
        background: #afa6b1; }

#content {
  float: right;
  width: 1080px; }
  #content:after {
    content: "";
    clear: both;
    display: block; }

#footer {
  padding: 56px 0;
  color: #999999;
  font-size: 12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }
  #footer .logo {
    margin: -12px 28px 0 0; }
  #footer .copy {
    float: left; }

.addnav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }
  .addnav li {
    float: left;
    margin: 0 0 0 49px; }
  .addnav a {
    color: #999999; }

@media only screen and (max-width: 1617px) {
  .visual > .img-holder {
    margin: 0 -500px; }
    .visual > .img-holder img {
      height: 100%;
      width: auto; } }
