﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Limefy.Web.Models.EventDataListModel

<div class="visual">
    <div class="img-holder">
        <img src="@Links.Content.images.visual_jpg" height="787" width="1600" alt="image description">
    </div>
    <div class="table-holder">
        <div class="table-wrap">
            <div class="table-cell">
                <div class="wrap">
                    <h1>Welcome to our future events</h1>



                    <div class="jcarousel-wrapper">

                        <div data-jcarousel="true" data-wrap="circular" class="jcarousel">
                            <ul class="box-holder">
                                @foreach (var ev in Model.SocialEvents)
                                {
                                    <li>
                                        <a href="@Url.Action(MVC.Event.Edit(ev.Code))">
                                            <div class="box ted">
                                                <div class="box-bg"></div>
                                                <div class="img-holder">
                                                    @*<img src="@Links.Content.images.tedseattle_png" height="52" width="250" alt="image description">*@
                                                </div>
                                                <div class="holder">
                                                    <span class="date">Feb 29-31</span>
                                                    <span class="caption">@ev.Name</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>


                        <a data-jcarousel-control="true" data-target="-=1" href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a data-jcarousel-control="true" data-target="+=1" href="#" class="jcarousel-control-next">&rsaquo;</a>
                    </div>





                    <div class="center">
                        <a data-jcarousel-control="true" data-target="-=1" href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a data-jcarousel-control="true" data-target="+=1" href="#" class="jcarousel-control-next">&rsaquo;</a>
                    </div>
                    <div class="cycle-pager" id="pager3"></div>

                    <div class="btn-holder">
                        @Html.ActionLink("Create new event", MVC.Event.Create(), new { @class = "btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
