﻿
@model Limefy.Web.Models.EventDataModel

@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" id="main">
    <div class="wrap">
        <aside id="sidebar">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <span class="frame">
                            <span class="icon-box">
                                <i class="icon icon-info"></i>
                            </span>
                            <span>Event info</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="frame">
                            <span class="icon-box">
                                <i class="icon icon-event"></i>
                            </span>
                            <span>Event provisioning</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="frame">
                            <span class="icon-box">
                                <i class="icon icon-categories"></i>
                            </span>
                            <span>Categories</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="frame">
                            <span class="icon-box">
                                <i class="icon icon-heatmap"></i>
                            </span>
                            <span>Heatmap</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="frame">
                            <span class="icon-box">
                                <i class="icon icon-analytics"></i>
                            </span>
                            <span>Analytics</span>
                        </span>
                    </a>
                </li>
            </ul>
        </aside>
        <div id="content">
            <section class="top-section">
                <div class="img-holder">
                    <span class="arrow-box">
                        See how it looks<br>in app
                    </span>
                    <img src="@Links.Content.images.mobile_png" height="410" width="419" alt="image description">
                </div>
                <div class="holder">
                    <div class="heading">
                        <h2>@Model.SocialEvent.Name</h2>
                        <span class="line"><span class="data">Feb 29 - 31</span><span class="status">is underway</span></span>
                    </div>
                    <div class="text-holder">
                        <p>@Model.SocialEvent.Code</p>
                    </div>
                    <div class="block-holder">
                        <div class="block">
                            <div class="thumbnail">
                                <img src="@Links.Content.images.thumb01_png" height="63" width="63" alt="image description">
                            </div>
                            <div class="holder">
                                <span>TEDxSeattle 2015 logo.jpg</span>
                                <a href="#"><i class="icon icon-pencil"></i>Replace</a>
                            </div>
                        </div>
                        <div class="block">
                            <div class="thumbnail">
                                <!-- <img src="images/" alt="image description"> -->
                            </div>
                            <div class="holder">
                                <span>#414141</span>
                                <a href="#"><i class="icon icon-pencil"></i>Edit color</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section class="component cat-component">
                <div class="heading">
                    <h3>&nbsp;</h3>
                    <a href="#" class="btn">add category</a>
                </div>
                @foreach (var cat in Model.EventCategories)
            {

                    <div class="heading">
                        <h3>@cat.Name</h3>
                        <div class="holder">
                            <ul class="list">

                                @foreach (var subCat in Model.Subcategories.Where(sc => sc.CategoryId == cat.Id))
                                {
                                    <li>
                                        <div class="color color1">
                                            @subCat.Name<a href="#" class="pencil"></a><a href="#" class="close"></a>
                                        </div>
                                    </li>
                                }

                            </ul>

                        </div>
                    </div>


                }
            </section>

            @*@using (Html.BeginForm(MVC.Event.Create()))
                {

                    <input type="submit" />

                }*@
        </div>
    </div>
</main>
