﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <title>Limefy</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto:400,300,100' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")

</head>
<body class="inner">
    <!-- wrapper start -->
    <div id="wrapper">

        <header id="header">
            <div class="wrap">
                <div class="logo"><a href="/"><img src="@Links.Content.images.logo_png" alt="ligo"></a></div>
                <ul class="list">
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Archive</a></li>
                </ul>
                <nav id="nav">
                    <ul>
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Email support</a></li>
                    </ul>
                    <div class="peronal-box">
                        <span class="name">Noel Smith</span>
                        <div class="thumbnail">
                            <img src="@Links.Content.images.person_png" height="53" width="53" alt="image description">
                        </div>
                        <span class="arrow"></span>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container body-content">



            @RenderBody()
            <hr />
        </div>
        <footer id="footer">
            <div class="wrap">
                <div class="logo">
                    <a href="#"><img src="@Links.Content.images.alt_logo_png" alt="ligo"></a>
                </div>
                <span class="copy">Copyright © 2015 Ligo</span>
                <ul class="addnav">
                    <li><a href="#">About Us </a></li>
                    <li><a href="#">Learning center</a></li>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">Email support</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <!-- wrapper end -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>
